<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style_index.css" type="text/css">
    <!-- Custom CSS -->
<!-- Favicon -->
<link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="header">
        <div class="row align-items-center">
            <div class="col-auto px-0"> <!-- Adjusted column width and removed padding -->
                <img src="static/icon.png" alt="App Icon" class="app-icon"> <!-- Icon image -->
            </div>
            <div class="col px-0"> <!-- Adjusted column width and removed padding -->
                    <h3 class="app-name mb-0">TrackXer</h3> <!-- App name with special font -->
            </div>
        </div>
    </div>

    <!-- Carousel Section -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay"></div>
                <img src="static/caro1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img src="static/car02.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img src="static/caro3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    
    <div class="login-section">
        <div class="container2" style="align-items:left;">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mb-3">
                        <h3>Want to Track Yourself?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mb-3">
                        <a href="/login" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mb-3">
                        <p class="text-white">or</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mb-3">
                        <a href="/register" class="btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p class="text-center">&copy; 2024 TrackXer. All rights reserved.</p>
        </div>
    </div>

   <!-- Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
