<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style_register_login.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>Login</h1>
            <form action="/login" method="POST"> <!-- Update form action to submit to /login route -->
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Sign In</button>
            </form>
            <p>New to TrackXer ? <a href="/register"> Sign up now</a>.</p>
        </div>
    </div>
</body>
</html>
